.ph.settings-color-scale-fieldset

  & .ph.settings-color-scale-inner
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    grid-gap: var(--moebius-box-spacing)
    justify-content: space-between
    margin-bottom: 1rem
    border: none

    @media screen and (min-width: 768px)
      justify-content: flex-start
      margin-bottom: 0

    @media screen and (min-width: 1024px)
      flex-wrap: wrap


  & .ph.input-group
    grid-gap: 0.5rem
    align-items: center
    justify-content: center
    margin-bottom: 0

    @media screen and (min-width: 2048px)
      flex-shrink: 0
      flex-grow: 0
      align-items: flex-start
