input.ph
  font-family: var(--ph-font-family-code)
  font-size: 1rem
  height: 3rem
  width: 100%
  border-radius: 6px
  font-weight: 500
  text-align: left
  font-family: var(--ph-font-family)
  line-height: 1.3333
  padding: 0 0.5rem
  color: var(--ph-color-text-accent)
  background-color: var(--ph-input-background-color)
  border: 0.125rem solid var(--ph-input-border-color)

