.ph.settings-color-extras-fieldset

  & .ph.settings-color-extras-inner
    display: flex
    flex-direction: column
    grid-gap: var(--moebius-box-spacing)
    justify-content: flex-start
    @media screen and (min-width: 768px)
      flex-direction: row
      flex-wrap: nowrap
