.ph.header
  & .ph.home
    position relative
    display flex
    align-items center
    justify-content: flex-start
    text-decoration none
    & > svg:first-of-type
      height 3rem
      width 3rem
    & > svg:last-of-type
      width: 10rem
      fill: var(--ph-color-text-accent)
      margin-left: 1rem

