.ph.settings
  grid-area: settings
  display flex
  flex-direction column
  grid-gap: var(--moebius-box-spacing)
  padding var(--moebius-box-spacing)
  border-radius 12px
  background-color: var(--ph-color-well-background)
  @media screen and (min-width: 1200px)
    width max-content
  @media screen and (min-width: 1440px)
    margin-left auto
